@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *,[data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: "Montserrat", sans-serif;
    --color-laravel: #F9322C;
    --color-react: #61DAFB;
    --color-tailwind: #38B2AC;
    --color-sql: #F29111;
    --color-php: #8892BE;
    --color-js: #F7DF1E;
    --color-git: #F05033;
    --color-docker: #2496ED;
    --color-nodejs: #68A063;
    --color-border: rgba(0, 0, 0, 0.1);
    --shadow-highlight: inset 0 1px 2px rgba(255, 255, 255, 0.3), 
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 2px 4px rgba(0, 0, 0, 0.06)
}

@layer theme {
    .dark {
        --color-laravel: #C62828;
        --color-react: #21A1F1;
        --color-tailwind: #319795;
        --color-sql: #D97D0D;
        --color-php: #6E7BB5;
        --color-js: #E6C200;
        --color-git: #C63D24;
        --color-docker: #1E78B8;
        --color-nodejs: #3C823B;
        --color-border: rgba(255, 255, 255, 0.2);
        --shadow-highlight: inset 0 1px 2px rgba(0, 0, 0, 0.3), 
            0 4px 6px rgba(0, 0, 0, 0.4),
            0 2px 4px rgba(0, 0, 0, 0.3)
    }
}

.badge {
    @apply text-xs text-gray-700 dark:text-gray-300 inline-flex items-center justify-center px-1.5 py-[1px] rounded-lg bg-white dark:bg-zinc-700 border border-border shadow-highlight transition-colors duration-200;
}